<!DOCTYPE html>

    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Chartalytic JS </title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keyword" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">

    </head>

    <body>

        <div class="col-lg-6" id="col_one">
            <h2> Input Data </h2>
            
            <row>
                <h3> Person </h3>
                <form id="person"> 
                    <!-- type -->
                    <div class="form-group">
                        <div class="col-lg-8" align="left"> <input type="text" class="form-control" placeholder="Person" style="width: 70%;" value="Person" id="" required readonly/> <br> </div>
                    </div>
                    <!-- order -->
                    <div class="form-group">
                        <div class="col-lg-8" align="left"> <input type="text" class="form-control" placeholder="Order" style="width: 70%;" id="" required/> <br> </div>
                    </div>
                    <!-- name-->
                    <div class="form-group">
                        <div class="col-lg-8" align="left"> <input type="text" class="form-control" placeholder="Name" style="width: 70%;" id="" required/> <br> </div> 
                    </div>
                    <!-- submit-->
                    <div class="form-group">
                        <div class="col-lg-8" align="left"> <input type="submit" class="navbar-btn nav-button login btn" value="Submit"> </div>
                    </div>
                </form>
            </row>

            <br><br><br><br>
            <br><br><br><br>
            <br><br>

            <row>
                <h3> Place </h3>
                <form id="place">
                    <!-- type -->
                    <div class="form-group">
                        <div class="col-lg-8" align="left"> <input type="text" class="form-control" placeholder="Place" style="width: 70%;" value="Place" id="" required readonly/> <br> </div>
                    </div>
                    <!-- order -->
                    <div class="form-group">
                        <div class="col-lg-8" align="left"> <input type="text" class="form-control" placeholder="Order" style="width: 70%;" id="" required/> <br> </div>
                    </div>
                    <!-- place -->
                    <div class="form-group">
                        <div class="col-lg-8" align="left"> <input type="text" class="form-control" placeholder="Name" style="width: 70%;" id="" required/> <br> </div> 
                    </div>
                    <!-- submit-->
                    <div class="form-group">
                        <div class="col-lg-8" align="left"> <input type="submit" class="navbar-btn nav-button login btn" value="Submit"> </div>
                    </div>
                </form>
            </row>
        </div>
        
        <div class="col-lg-6" id="col_two">
            <h2> Output Data </h2>
            <div id="output">
                <!-- Ajax Populated -->
            </div>

        </div>
            
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/ajax/output.js"></script>
        <script src="js/ajax/input.js"></script>
    
    </body>
</html>